$color-grey: #f2f2f2;
$color-sedans: #e28625;
$color-suvs: #006971;
$color-luxury: #004140;

html {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  flex-wrap: wrap;
}

.card {
  width: 307px;
  padding: 48px;
  box-sizing: border-box;

  &__header {
    font-family: "Big Shoulders Display";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-grey;
    margin: 35px 0 0 0;
  }

  &__description {
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin: 25px 0 0 0;
    min-height: 208px;
  }

  &__link--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__link {
    padding: 11px 31.5px 12px 31.5px;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.sedans {
  background-color: $color-sedans;
  .card {
    &__link {
      color: $color-sedans;
      background-color: $color-grey;
      border: 2px solid $color-grey;
    }
    &__link:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white;
    }
  }
}

.suvs {
  background-color: $color-suvs;
  .card {
    &__link {
      color: $color-suvs;
      background-color: $color-grey;
      border: 2px solid $color-grey;
    }
    &__link:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white;
    }
  }
}

.luxury {
  background-color: $color-luxury;
  .card {
    &__link {
      color: $color-luxury;
      background-color: $color-grey;
      border: 2px solid $color-grey;
    }
    &__link:hover {
      color: white;
      background-color: transparent;
      border: 2px solid white;
    }
  }
}

@media screen and (max-width: 613px) {
  .card {
    width: 327px;

    &__description {
      min-height: 150px;
    }
  }
}
